.customSelect {
  position: relative;
  width: 100%;
}

.customSelect.active .selectDropdown {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}

.textbox {
  position: absolute;
  padding: 0 2px;
  top: -8px;
  left: 6px;
  color: #49454f;
  background-color: var(--primary-background-color);
  font-family: var(--form-font);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.textboxError {
  color: var(--error-color);
}

.textboxBox:focus-within .textbox {
  color: var(--dark-brand-color);
}

.selectButton {
  width: 100%;
  font-size: 1.15rem;
  border: 1px solid #79747e;
  border-radius: 4px;
  cursor: pointer;
  padding: 4px 0px 4px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selectButtonRole {
  border: none;
  border-radius: 0;
  border-bottom: 2px solid;
  padding-left: 0;
}

.selectButtonOther {
  border: none;
}

.selectButtonError {
  border: 2px solid var(--error-color);
}

.selectedValue {
  text-align: left;
  font-family: var(--placeholder-font);
  color: var(--placeholder-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.selectedRole {
  color: var(--dark-text-color);
  display: flex;
  align-items: center;
}

.svgCheckmarkBox {
  width: 48px;
  display: flex;
  height: 48px;
  align-items: center;
  justify-content: center;
}

.svgCheckmark {
  width: 24px;
  height: 24px;
}

.svgTextIcon {
  width: 24px;
  height: 24px;
}

.svgBox {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.svgBoxInactive {
  display: none;
}

.svgChevron {
  width: 48px;
  height: 48px;
}

.selectDropdown {
  position: absolute;
  z-index: 1;
  list-style: none;
  width: 100%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
  overflow-y: auto;
  transition: 0.5s ease;

  transform: scaleY(0);
  opacity: 0;
  visibility: hidden;
}

.selectDropdown:focus-within {
  box-shadow: 0 10px 25px rgba(94, 108, 233, 0.6);
}

.selectDropdown li {
  position: relative;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.selectDropdown li label {
  width: 100%;
  padding: 8px 10px;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.selectDropdown li:hover,
.selectDropdown input:checked ~ label {
  background-color: var(--light-brand-color);
}

.selectDropdown input:focus ~ label {
  background-color: var(--light-brand-color);
}

.selectDropdown input:checked ~ label .customRadio {
  border: none;
}

.selectDropdown input[type='radio'] {
  position: absolute;
  cursor: pointer;
  right: 0;
  width: 40px;
  height: 24px;
  opacity: 0;
}

.customSelect.active .selectDropdown {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}

.customRadio {
  cursor: pointer;
  display: flex;
  height: 20px;
  width: 20px;
  border: 2px solid #49454f;
  border-radius: 50%;
  flex-direction: column;
  transition: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}
