.AboutConference {
  padding-left: 5px;
  padding-top: 64px;
  padding-right: 12px;
  background-color: var(--primary-background-color);
  padding-bottom: 64px;
}

.AboutConferenceBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AboutConferenceContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
  position: relative;
  max-width: 376px;
}
@media screen and (min-width: 765px) {
  .AboutConferenceContainer {
    flex-direction: row;
    max-width: 1105px;
    margin: 0 auto;
  }
}

.AboutConferenceTitle {
  font-family: var(--decoraction-font);
  font-size: 31px;
  color: var(--dark-text-color);
  line-height: 38.75px;
  letter-spacing: 0px;
}
@media screen and (min-width: 765px) {
  .AboutConferenceTitle {
    margin-left: 0px;
    margin-top: 23px;
    line-height: 48.75px;
    padding-bottom: 0px;
    font-size: 39px;
  }
}

.AboutConferenceText {
  font-family: var(--main-font);
  font-size: 16px;
  color: var(--dark-text-color);
  line-height: 24px;
  letter-spacing: 0.12px;
  margin-bottom: 40px;
  margin-top: 16px;
}
@media screen and (min-width: 765px) {
  .AboutConferenceText {
    margin-left: 0px;
    margin-top: 28px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 765px) {
  .AboutConferenceWraper {
    display: flex;
    flex-direction: column;
    max-width: 554px;
    margin-right: 96px;
  }
}

.AboutConferenceImg {
  margin-left: 72px;
  width: 240px;
  height: 217px;
  margin-bottom: 37px;
  position: relative;
  z-index: 2;
}
@media screen and (min-width: 765px) {
  .AboutConferenceImg {
    width: 414px;
    height: 324px;
    margin-bottom: 41px;
    margin-right: 41px;
    object-fit: contain;
    margin-top: 0px;
  }
}
.AboutConferenceVector {
  position: absolute;
  z-index: -1;
}

.AboutConferenceVector1 {
  width: 331px;
  height: 227px;
  padding-left: 15px;
  bottom: 0;
  margin-bottom: 30px;
}
@media screen and (min-width: 765px) {
  .AboutConferenceVector1 {
    width: 468px;
    height: 317px;
    top: 48px;
    left: 637px;
  }
}

@media screen and (min-width: 765px) {
  .AboutConferenceContainer2 {
    flex-direction: row-reverse;
    max-width: 1129px;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 765px) {
  .AboutConferenceWraper2 {
    margin-left: 96px;
  }
}

@media screen and (min-width: 765px) {
  .AboutConferenceTitle2 {
    margin-left: 0px;
    margin-bottom: 20px;
    font-size: 39px;
    width: 443px;
    margin-top: 69px;
  }
}

@media screen and (min-width: 765px) {
  .AboutConferenceText2 {
    margin-bottom: 66px;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 0px;
  }
}
.AboutConferenceImg2 {
  margin-bottom: 16px;
}
@media screen and (min-width: 765px) {
  .AboutConferenceImg2 {
    margin-bottom: 20px;
    margin-left: 0px;
    margin-top: 26px;
  }
}
.AboutConferenceVector2 {
  width: 254px;
  height: 250px;
  bottom: 0px;
  margin-left: 55px;
  bottom: 0;
}
@media screen and (min-width: 765px) {
  .AboutConferenceVector2 {
    width: 375px;
    height: 370px;
    left: -65px;
    top: 0px;
  }
}

@media screen and (min-width: 765px) {
  .AboutConferenceContainer3 {
    max-width: 1092px;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 765px) {
  .AboutConferenceTitle3 {
    margin-left: 0px;
    margin-top: 55px;
    padding-bottom: 0px;
    font-size: 39px;
    width: 497px;
  }
}

@media screen and (min-width: 765px) {
  .AboutConferenceText3 {
    margin-bottom: 56px;
  }
}

.AboutConferenceImg3 {
  margin-left: 60px;
}
@media screen and (min-width: 765px) {
  .AboutConferenceImg3 {
    margin-bottom: 23px;
    margin-right: 28px;
    margin-top: 23px;
  }
}
.AboutConferenceVector3 {
  margin-left: 42px;
  width: 284px;
  height: 288px;
  bottom: 0;
}
@media screen and (min-width: 765px) {
  .AboutConferenceVector3 {
    width: 346px;
    height: 370px;
    left: 737px;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 765px) {
  .Visibility {
    display: none;
  }
}
@media screen and (min-width: 765px) {
  .VisibilityMobile {
    display: none;
  }
}
