.checkboxWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.formCheckbox {
  cursor: pointer;
  opacity: 0;
  width: 48px;
  height: 20px;
  position: absolute;
  z-index: 1;
}

.formCheckbox:checked ~ .checkmarkBox {
  border: none;
}

.checkmarkBg {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}

.formCheckbox:hover ~ .checkmarkBg {
  background-color: #49454f25;
}

.checkmarkBox {
  width: 19px;
  height: 19px;
  position: relative;
  display: flex;
  border: 2px solid #49454f;
  border-radius: 2px;
  align-items: center;
  justify-content: center;
}

.checkmarkBoxError {
  border: 3px solid var(--error-color);
}

.checkMarkIcon {
  width: 24px;
  height: 24px;
  position: absolute;
}

.formCheckboxText {
  font-family: var(--placeholder-font);
  font-weight: 400;
  font-size: 16px;
  width: 90%;
}

.checkboxTextError {
  color: var(--error-color);
}
