.workshopsFormContainer {
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.workshopsFormHeader {
  font-family: var(--decoraction-font);
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
}

.workshopsForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.workshopsFormFieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
}

.workshopsParagraph {
  font-family: var(--placeholder-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em;
}

.errorText {
  font-family: var(--placeholder-font);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: var(--error-color);
  margin-top: 16px;
  margin-bottom: 16px;
}

.workshopsSuccessModalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.workshopsSuccessModalHeader {
  font-family: var(--decoraction-font);
  font-weight: 500;
  font-size: 1.25rem;
  color: var(--dark-text-color);
  align-self: center;
}

.workshopsSuccessModalParagraph {
  font-weight: 500;
  font-size: 1rem;
  margin: 16px 0 16px 0;
}

@media screen and (min-width: 765px) {
  .workshopsSuccessModalHeader {
    font-weight: 400;
    font-size: 2.44rem;
    align-self: flex-start;
  }

  .workshopsSuccessModalParagraph {
    font-weight: 500;
    font-size: 1.25rem;
  }

  .workshopsSuccessModalContainer > button:last-of-type {
    margin: 0 auto;
  }
}
