.patrons {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-top: 64px;
  padding-bottom: 64px;
  margin: 0;
  background-color: var(--primary-background-color);
}
.patronsTitle {
  color: var(--dark-text-color);
  font-family: var(--decoraction-font);
  align-self: flex-start;
  font-size: 1.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 32px;
  margin-left: 21px;
}
.patronsContainer {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.patronsContainer > :last-child {
  margin-top: 16px;
}
.patronsBox {
  align-self: stretch;
}
.patronsImg {
  width: 185px;
  height: 131px;
  object-fit: cover;
  filter: grayscale(100%);
  transition: filter 0.3s ease, transform 0.3s ease;
}
.patronsImg:hover {
  filter: grayscale(0%);
  transform: scale(1.1);
}

@media screen and (min-width: 394px) {
  .patronsTitle {
    font-size: 3.0625rem;
    margin-bottom: 64px;
    margin-left: 83px;
  }
  .patronsContainer {
    gap: 32px;
  }
  .patronsContainer > :last-child {
    margin-top: 32px;
  }
}
