.button {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 1.25rem;
  padding: 16px 32px;
  border-radius: 12px;
  position: relative;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  z-index: 1;
}
.button::before {
  content: '';
  position: absolute;
  transition: all 0.3s ease-in-out;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 18px;
}

.primary {
  color: var(--light-text-color);
  background-color: var(--secondary-background-color);
}
.primary::before {
  z-index: -2;
  opacity: 0;
  background-color: var(--third-background-color);
  transform: scale(0.1, 1);
}
.primary:hover::before,
.primary:focus::before {
  opacity: 1;
  transform: scale(1.1, 1);
}

.secondary {
  color: var(--dark-text-color);
  background-color: var(--primary-background-color);
  border: 1px solid var(--dark-text-color);
}
.secondary::before {
  z-index: -2;
  opacity: 0;
  background-color: var(--secondary-background-color);
  transform: scale(0.1, 1);
}
.secondary:hover::before,
.secondary:focus::before {
  opacity: 1;
  transform: scale(1.1, 1);
}

.support {
  color: var(--light-text-color);
  background-color: var(--red-color);
}
.support::before {
  z-index: -2;
  opacity: 0;
  background-color: var(--magenta-color);
  transform: scale(0.1, 1);
}
.support:hover::before,
.support:focus:before {
  opacity: 1;
  transform: scale(1.1, 1);
}
