.supportHeader {
  font-family: var(--decoration-font);
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.25;
  color: var(--dark-text-color);
  align-self: center;
  margin-bottom: 16px;
}
.supportText {
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 1.2;
}
.supportForm {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}
.supportFieldset {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
}
.supportLabel {
  font-family: var(--placeholder-font);
  font-size: 29px;
  line-height: 1.2;
  font-weight: 700;
  color: var(--deep-purple-color);
  border: 3px solid var(--light-brand-color);
  border-radius: 12px;
  padding: 16px 0;
  width: 100%;
  max-width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.supportLabel:hover {
  background-color: var(--light-background-color);
}
.supportInput[type='radio']:checked + .supportLabel {
  background-color: var(--secondary-background-color);
}
.supportCustom {
  font-family: var(--placeholder-font);
  font-size: 29px;
  line-height: 1.2;
  font-weight: 700;
  color: var(--deep-purple-color);
  border: 3px solid var(--light-brand-color);
  border-radius: 12px;
  padding: 16px 0;
  width: 100%;
  max-width: 60%;
  text-align: center;
}

.supportInput {
  display: none;
}

.supportModalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.supportModalHeader {
  font-family: var(--decoraction-font);
  font-weight: 500;
  font-size: 1.25rem;
  color: var(--dark-text-color);
  align-self: center;
}

.supportModalParagraph {
  font-weight: 500;
  font-size: 1rem;
  margin: 16px 0 16px 0;
}

@media screen and (min-width: 765px) {
  .supportHeader {
    font-weight: 400;
    font-size: 2.44rem;
    align-self: flex-start;
  }
  .supportText {
    font-weight: 500;
    font-size: 1.25rem;
  }
  .supportText:first-of-type {
    margin-bottom: 40px;
  }

  .supportForm > button:last-of-type {
    margin: 0 auto;
    margin-top: 50px;
  }
  .supportFieldset {
    flex-direction: row;
    gap: 54px;
  }

  .supportModalHeader {
    font-weight: 400;
    font-size: 2.44rem;
    align-self: flex-start;
  }

  .supportModalParagraph {
    font-weight: 500;
    font-size: 1.25rem;
  }

  .supportModalContainer > button:last-of-type {
    margin: 0 auto;
  }
}
