.container {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 8px;
}
.sliderTitle {
  color: var(--dark-text-color);
  font-family: var(--decoraction-font);
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 55px;
  margin-left: 20px;
}
.slideImg {
  width: 129px;
  height: 156px;
  border-radius: 12px;
}

.slider {
  padding-top: 64px;
  width: 393px;
  margin: 0;
}

@media screen and (min-width: 394px) {
  .slider {
    width: 1440px;
    margin: 0;
    height: 831px;
    background-image: url(../../assets/bgImages/bgImageSlider.png);
    object-fit: contain;
  }
  .slideImg {
    width: 419px;
    height: 242px;
    border-radius: 16px;
    object-fit: cover;
  }
  .sliderTitle {
    color: var(--light-text-color);
    font-family: var(--decoraction-font);
    font-size: 49px;
    margin-bottom: 64px;
    margin-left: 106px;
  }
}
