.slider {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-top: 64px;
  padding-bottom: 64px;
  margin-top: 64px;
  margin-bottom: 64px;
  background-image: url(../../assets/bgImages/bgImageSlider.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 8px;
}
.sliderTitle {
  color: var(--light-text-color);
  font-family: var(--decoraction-font);
  align-self: flex-start;
  font-size: 1.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 55px;
  margin-left: 20px;
}
.slideImg {
  width: 129px;
  height: 156px;
  border-radius: 12px;
  object-fit: cover;
}

@media screen and (min-width: 765px) {
  .slider {
    padding-top: 32px;
  }

  .container {
    gap: 32px;
  }

  .sliderTitle {
    margin-bottom: 32px;
    margin-left: 40px;
  }
  .slideImg {
    width: 242px;
    height: 140px;
  }
}

@media screen and (min-width: 1280px) {
  .slider {
    padding-top: 64px;
    padding-bottom: 128px;
  }
  .slideImg {
    width: 419px;
    height: 242px;
  }
  .sliderTitle {
    font-size: 3.0625rem;
    margin-bottom: 64px;
    margin-left: 80px;
  }
}
