.radioContainer {
  display: flex;
  flex-direction: column;
}

.radioBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.radioInput {
  cursor: pointer;
  opacity: 0;
  height: 20px;
  width: 48px;
  position: absolute;
}

.radioBg {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}

.customRadio {
  cursor: pointer;
  display: flex;
  height: 20px;
  width: 20px;
  border: 2px solid #49454f;
  border-radius: 50%;
  flex-direction: column;
  transition: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.customRadioError {
  border: 3px solid var(--error-color);
}

.radioInput:checked ~ .radioBg .customRadio {
  border: none;
}
.radioInput:hover ~ .radioBg {
  background-color: #49454f25;
}

.radioLabel {
  height: 48px;
  display: flex;
  align-items: center;
  font-family: var(--placeholder-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em;
}

.radioLabelError {
  color: var(--error-color);
}

.svgTextIcon {
  width: 24px;
  height: 24px;
}
