.Nav {
  background-color: var(--primary-background-color);
  display: flex;
  width: 100%;
  max-width: 1440px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 81px 0 71px;
}

.Nav__Logo {
  width: 215px;
  height: 85px;
  margin-top: 27px;
  margin-bottom: 27px;
  cursor: pointer;
}

.Nav__List {
  display: flex;
  align-items: center;
  gap: 16px;
}

.Nav__Item {
  color: var(--dark-text-color);
  background-color: var(--primary-background-color);
  text-decoration: inherit;
  font-weight: 400;
  padding: 8px 16px;
}

.Nav__Item:hover,
.Nav__Item:focus {
  border-radius: 12px;
  background-color: var(--magenta-color);
  color: var(--light-text-color);
}

.Nav__Lang {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  margin-top: 4px;
  margin-right: 8px;
}
