.program {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-top: 32px;
  padding-bottom: 126px;
  background-image: url(../../assets/bgImages/program.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-content: space-around;
  flex-wrap: wrap;
  padding: 0 20px;
}
.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: flex-start;
}
.programTitle {
  color: var(--light-text-color);
  font-family: var(--decoraction-font);
  font-size: 1.9375rem;
  line-height: 38.75px;
}
.programSubTitle {
  color: var(--light-text-color);
  font-family: var(--decoraction-font);
  font-size: 1.25rem;
  line-height: 25px;
}
.scheduleContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
}
.singleSchedule {
  display: flex;
  flex-direction: column;
  height: 96px;
  padding: 8px 16px 8px 16px;
  border-radius: 12px;
  background-color: var(--primary-background-color);
  gap: 8px;
}
.scheduleMobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.scheduleTime {
  color: var(--dark-text-color);
  font-family: var(--decoraction-font);
  font-size: 1.25rem;
  line-height: 25px;
  font-weight: 500;
}
.scheduleSvg {
  width: 26px;
  height: 26px;
}
.scheduleText {
  color: var(--dark-text-color);
  font-family: var(--main-font);
  font-size: 1rem;
  line-height: 18.78px;
}

@media screen and (min-width: 756px) {
  .container {
    gap: 32px;
    padding: 0 40px;
  }

  .programTitle {
    font-size: 2.4375rem;
    line-height: 48.75px;
  }
  .programSubTitle {
    font-size: 1.9375rem;
    line-height: 38.75px;
  }

  .singleSchedule {
    display: flex;
    flex-direction: row;
    height: 105px;
    padding: 32px;
    border-radius: 16px;
    align-items: center;
  }

  .scheduleTablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
  }

  .scheduleTime {
    font-weight: 400;
  }
  .scheduleSvg {
    width: 40px;
    height: 40px;
  }
  .scheduleText {
    line-height: 24px;
    letter-spacing: 0.12px;
  }
}
@media screen and (min-width: 1280px) {
  .program {
    padding-top: 64px;
    padding-bottom: 208px;
  }
  .container {
    padding: 0 80px;
  }

  .programTitle {
    font-size: 3.0625rem;
    line-height: 61.25px;
  }
  .programSubTitle {
    font-size: 2.4375rem;
    line-height: 48.75px;
  }

  .singleSchedule {
    height: 104px;
    padding: 32px 103px;
  }
}
