.BeAVolunteer {
  background-color: var(--third-background-color);
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 21px;
  padding-bottom: 55px;
}
.BeAVolunteerTitle {
  font-family: var(--decoraction-font);
  font-size: 31px;
  line-height: 39px;
  font-weight: 400;
  color: var(--light-text-color);
}
.BeAVolunteerContainer {
  display: flex;
  justify-content: center;

  flex-direction: column;
  gap: 64px;
  align-items: center;
  margin-top: 64px;
}

.BeAVolunteerContainerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.BeAVolunteerSvg {
  height: 226px;
  width: 211px;
}

.BeAVolunteerTextContainer {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: flex-start;
}
.BeAVolunteerText {
  font: var(--main-font);
  color: var(--light-text-color);
  size: 16px;
  line-height: 24px;
  letter-spacing: 0.12%;
}

@media screen and (min-width: 765px) {
  .BeAVolunteer {
    padding-top: 25px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .BeAVolunteerContainer {
    display: flex;
    gap: 32px;
    margin-top: 32px;
  }
  .BeAVolunteerContainerBox {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .BeAVolunteerTitle {
    line-height: 39px;
    color: var(--light-text-color);
    padding-top: 64px;
  }
  .BeAVolunteerSvg {
    flex-shrink: 0;
  }
}
@media screen and (min-width: 1280px) {
  .BeAVolunteer {
    padding-top: 25px;
    padding-left: 80px;
    padding-right: 80px;
  }
  .BeAVolunteerContainer {
    gap: 64px;
    margin-top: 64px;
  }

  .BeAVolunteerContainerBox {
    align-items: center;
    gap: 145px;
  }

  .BeAVolunteerTitle {
    font-size: 49px;
    line-height: 61px;
    padding-top: 64px;
  }
}
