.headerTablet {
  display: none;
}

@media screen and (min-width: 765px) {
  .headerTablet {
    display: inline;
  }
}

@media screen and (min-width: 1280px) {
  .headerTablet {
    display: none;
  }
}
