.header {
  display: none;
}

.is-open {
  display: block;
}

.mobileMenuTrigger {
  width: 48px;
  height: 48px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  background-color: var(--primary-background-color);
  right: 14px;
  top: 12px;
  position: fixed;
  z-index: 999;
}

@media screen and (min-width: 765px) {
  .mobileMenuTrigger {
    top: 16px;
  }

  .main {
    padding-top: 80px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    display: block;
    width: 100%;
    background-color: var(--primary-background-color);
    position: fixed;
    z-index: 999;
    overflow: hidden;
    top: 0;
  }

  .mobileMenuTrigger {
    display: none;
  }

  .main {
    padding-top: 0;
    margin-top: 140px;
  }
}
