.footer {
  background-color: var(--primary-background-color);
}

.heading {
  background-color: var(--secondary-background-color);
  color: var(--light-text-color);
  font-family: var(--decoraction-font);
  font-size: 1.25rem;
  font-weight: 500;
  padding: 20px;
  text-align: center;
}
.contact {
  font-size: 1.25rem;
  padding: 32px 24px;
}
.contactHeading {
  font-family: var(--decoraction-font);
  font-size: 1.9rem;
}

.contactMail {
  color: var(--brand-text-color);
  cursor: pointer;
  font-weight: 600;
  margin-top: 32px;
  margin-bottom: 59px;
  transition: 500ms;
}

.contactMailAdress {
  color: var(--brand-text-color);
}

.contactMailIcon {
  display: none;
  fill: var(--dark-brand-color);
}

.contactMail:hover a,
.contactMail:focus a {
  color: var(--light-brand-color);
}

.contactMail:hover svg,
.contactMail:focus svg {
  fill: var(--light-brand-color);
}

.adress {
  font-size: 1.25rem;
}

.adressHeading {
  font-weight: 700;
}

.adressText {
  margin-top: 12px;
  font-weight: 500;
}

.adressLine {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #1d1d1d;
}

.map {
  border-radius: 12px;
  margin-top: 64px;
  width: 100%;
  height: 233px;
}

.logo {
  width: 48%;
  margin-top: 36px;
}

.socialList {
  display: flex;
  margin-top: 32px;
  gap: 32px;
}
.socialListItem {
  cursor: pointer;
}

.socialListItemIcon {
  width: 30px;
  height: 30px;
  fill: var(--dark-brand-color);
}

.socialListItemIcon:hover {
  fill: var(--light-brand-color);
}

.statuteList {
  display: flex;
  gap: 20px;
  font-size: 0.9rem;
  cursor: pointer;
  margin-top: 48px;
  text-align: center;
}

.statuteListItem a {
  list-style: none;
  color: var(--dark-text-color);
}

.statuteListItem:hover a {
  color: var(--light-brand-color);
}

.allRightsParagraf {
  margin-top: 32px;
  font-size: 0.9rem;
}

@media screen and (min-width: 754px) {
  .contact {
    padding: 32px 40px;
  }

  .contactHeading {
    font-size: 2.5rem;
  }

  .contactMail {
    font-size: 1.3rem;
    margin-top: 16px;
    margin-bottom: 39px;
  }

  .contactMailAdress {
    display: flex;
    align-items: center;
  }

  .contactMailIcon {
    width: 32px;
    height: 32px;
    display: block;
    margin-right: 12px;
  }

  .adressContainer {
    display: flex;
    justify-content: space-between;
  }

  .adress {
    font-size: 16px;
    min-width: 270px;
    display: inline;
  }

  .adressLine {
    margin-top: 33px;
    margin-bottom: 19px;
  }

  .map {
    float: right;
    margin-top: 0;
    margin-left: 100px;
    height: 310px;
  }

  .logo {
    margin-top: 41px;
    width: 25%;
  }

  .statuteContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
    font-size: 1rem;
  }
}

.statuteList {
  font-size: inherit;
  margin-top: 0;
}

.allRightsParagraf {
  font-size: inherit;
  margin-top: 0;
}
