.footer {
  background-color: var(--primary-background-color);
}

.footerHeading {
  background-color: var(--secondary-background-color);
  color: var(--light-text-color);
  font-family: var(--decoraction-font);
  font-size: 1.25rem;
  font-weight: 500;
  padding: 20px;
  text-align: center;
}
.footerContact {
  font-size: 1.25rem;
  padding: 32px 24px;
}
.footerContactHeading {
  font-family: var(--decoraction-font);
  font-size: 1.9rem;
}

.footerContactMail {
  color: var(--brand-text-color);
  cursor: pointer;
  font-weight: 600;
  margin-top: 32px;
  transition: 500ms;
}

.footerContactMail:hover,
.footerContactMailfocus {
  color: var(--light-brand-color);
}
