.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
form > button {
  margin: 0 auto;
}
.formText {
  font-family: var(--placeholder-font);
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.03rem;
}
.formHeader {
  font-family: var(--decoraction-font);
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.25;
  color: var(--dark-text-color);
  margin-bottom: 16px;
}
.fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  width: 100%;
  gap: 16px;
}
.bottomArea {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
  margin-bottom: 32px;
}
.menuWrapper > div {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media screen and (min-width: 765px) {
  .formHeader {
    font-size: 2.44rem;
    font-weight: 400;
    margin-bottom: 68px;
  }
  .menuWrapper > div {
    flex-direction: row;
  }
}
