.HeroBanner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.HeroBanner_img {
  background-image: url(../Images/heroBanner.png);
  position: relative;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.HeroBanner_info {
  position: absolute;
  display: flex;
  font-family: var(--main-font);
  flex-direction: column;
  color: var(--light-text-color);
  margin: 140px;
}
.HeroBanner_main {
  font-size: 79px;
  font-weight: 600;
}
.HeroBanner_add {
  font-size: 49px;
  font-weight: 400;
}
