.HeroBanner {
  display: flex;
  position: relative;
}

.HeroBanner_img {
  position: relative;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  gap: 30px;
}

.HeroBanner_info {
  position: absolute;
  display: flex;
  font-family: var(--main-font);
  flex-direction: column;
  color: var(--light-text-color);
  margin: 120px;
}
.HeroBanner_main {
  font-size: 79px;
  font-weight: 600;
}
.HeroBanner_add {
  font-size: 49px;
  font-weight: 400;
}
