.workshops {
  padding: 64px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* backdrop */
.workshopsModalIsOpen ~ div {
  overflow-y: auto;
  align-items: flex-start;
}

.workshops button {
  margin-top: 64px;
}

.workshopsTitle {
  align-self: start;
  font-size: 1.9375rem;
  font-family: var(--decoraction-font);
  font-weight: 400;
  line-height: normal;
  margin-bottom: 32px;
}

.workshopsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;
}

.workshopsBox {
  display: flex;
  flex-direction: column;
}

.workshopsText {
  font-style: var(--main-font);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
  letter-spacing: 0.00119rem;
}

.boldText {
  font-weight: 700;
}

.workshopsList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.workshopsListText {
  font-style: var(--main-font);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem; /* 150% */
  letter-spacing: 0.00119rem;
  margin-bottom: 23px;
}

.workshopsListItem {
  font-style: var(--main-font);
  list-style-type: disc;
  list-style-position: inside;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
  letter-spacing: 0.00119rem;
  margin-left: 10px;
}

@media screen and (min-width: 765px) {
  .workshops {
    padding-left: 40px;
    padding-right: 40px;
  }

  .workshops button {
    margin-top: 0;
  }

  .workshopsTitle {
    font-size: 2.4375rem;
    margin-bottom: 27px;
  }

  .workshopsListText {
    margin-top: 27px;
    margin-bottom: 0;
  }

  .workshopsContainer {
    gap: 0;
    align-items: flex-start;
  }

  .workshopsBox {
    gap: 27px;
  }

  .workshopsList {
    gap: 27px;
  }

  .workshopsText {
    margin-right: 230px;
  }

  @media screen and (min-width: 1280px) {
    .workshops {
      padding-left: 80px;
      padding-right: 80px;
      margin-bottom: 64px;
    }

    .workshops button {
      margin-top: 64px;
    }

    .workshopsTitle {
      font-size: 3.0625rem;
      margin-bottom: 64px;
    }

    .workshopsContainer {
      flex-direction: row;
      gap: 128px;
    }

    .workshopsBox {
      gap: 24px;
    }

    .workshopsText {
      margin-right: 0;
    }

    .workshopsList {
      gap: 12px;
    }

    .workshopsListText {
      margin-top: 0;
      width: max-content;
    }
  }
}
